<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-devive-width, initial-scale= 1.0">
    <title> Adayr muñoz</title>
    <script src="https://kit.fontawesome.com/ee6ec55374.js" crossorigin="anonymous"></script>
    <link href="static/styles.css" rel="stylesheet" />   
</head>

<body style= "background: url('static/IMG/puente.jpg')no-repeat; background-size: cover;"></body>
    <header>
        <nav id="navbar">
            <div class="contenedor">
                <img src="static/img/kingauto.png" alt="logo" class="logo" />
                <ul class="Texto-btn">
                    <li><a href="Index.html" class="seleccionado"> inicio</a>
                    <li><a href="Quiensoy.html">Destino</a></li>
                    <li><a href="Portafolio.html">Atencion a clientes</a></li>
                    <li><a href="Blog.html">iniciar sesion</a></li>
                    <li><a href="Contactanos.html">Contacnos</a></li>
                    <li><a href="http://127.0.0.1:4000"> CRUD</a></li>
                </ul>
            </div>
        </nav>
        <div id="MostrarSlider-Inicio">
            <div class="Slider-banner">
                <h1>¡RESERVE CON KINGBUS!</h1>
                <p class="large">para usted viajer@ le presentamos los lugares a donde los podemos<br>
                    enviar de manera comoda y segura, con los mejores precios del mecado.

                </p>
            </div>
            <div class="bodyy">
                <IMG class="tutu" src="static/IMG/quetzal.gif" width="250px" height="99px">
                <p>
                    La pirámide de la Serpiente Emplumada o Quetzalcóatl es el tercer<br> 
                    edificio de mayor envergadura de Teotihuacán, una antigua ciudad mesoamericana<br> 
                    cuyas ruinas se encuentran en México. 
                </p> <br>

                
                <IMG class="tutu" src="static/IMG/Mexico_.jpg" width="250px" height="99px">
                <p>
                    Ciudad de México es la densamente poblada capital de México que se encuentra a gran altura.<br>
                    Es famosa por su Templo Mayor (un templo azteca del siglo XIII), la Catedral Metropolitana de México
                </p> <br>

                <IMG class="tutu" src="static/IMG/Monterrey.png" width="250px" height="99px">
                    <p>
                        Monterrey, la capital del estado de Nuevo León en el noreste de México,<br>
                        es un extenso centro industrial y de negocios rodeado de montañas.
                    </p>
            </div>
        </div>
       
    </header>
    <footer class="pie">
        <div class="header2">
            <div class="logo2">
                <img src="static/IMG/kingauto.png" alt="logo2" class="logo2">
                <p class="logotipo">KINGBUS.COM</p>
            </div>
            <div class="redes">
                <ul>
                 <li><a href="https://www.facebook.com/"  class="fb"><i class="fa-brands fa-facebook"></i></a></li>
                 <li><a href="https://www.youtube.com" class="you"><i class="fa-brands fa-youtube"></i></a></li>
                 <li><a href="https://twitter.com/home" class="twi"><i class="fa-brands fa-twitter"></i></a></li>
                 <li><a href="https://www.instagram.com" class="insta"><i class="fa-brands fa-instagram"></i></a></li>
                 <li><a href="https://www.educa-t.unach.mx/login/index.php" class="edu"><i class="fa-solid fa-ghost"></i></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="section">
            <div>
                <h2>Company</h2>
                <a href="#">Home</a>
                <a href="#">Contac Us</a>
                <a href="#">About Us</a>
                <a href="#">GetStarted</a>
            </div>
            <div>
                <h2>Services</h2>
                <a href="#">App Design</a>
                <a href="#">Web Desing</a>
                <a href="#">Logo Design</a>
                <a href="#">Banner Design</a>
            </div>
            <div>
                <h2>Account</h2>
                <a href="#">Profile</a>
                <a href="#">My Account</a>
                <a href="#">Preferences</a>
                <a href="#">Purchase</a>
            </div>
        </div>
    </footer>
        
</body>

</html>
  

